html,
body {
  overflow-y: scroll;
  /* 确保始终显示滚动条 */
}

/* 卡片样式 */
.grammar-card {
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  width: 940px;
  transition: width 0.4s ease, height 0.4s ease, transform 0.4s ease, box-shadow 0.3s ease;
  transform-origin: center;
  position: relative;
}

.grammar-card:hover {
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  transform-origin: center;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.icon-map {
  width: 22px;
  height: 22px;
  margin-right: 12px;
}

.card-header h2 {
  width: auto;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  color: rgba(121, 72, 234, 1);
  flex-grow: 1;
  letter-spacing: 1px;
}

.admin-edit{
  position: absolute;
  top: 50px;
  right: 200px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color:  rgba(42, 130, 228, 1);
  display: none;
}

.admin-edit:hover{
  font-weight: 600;
}

.video-btn {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
  color: rgba(56, 56, 56, 1);
  cursor: pointer;
  letter-spacing: 1px;
  margin-right: 30px;
  transform: translateY(20px);
  transition: box-shadow 0.3s ease;
}

.video-btn:hover {
  box-shadow: 0 18px 10px -12px rgba(0, 0, 0, 0.2);
}

.play-icon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  transform: translateY(2px);
}

.card-header .pulldown {
  margin-top: 38px;
  margin-right: 10px;
}

.grammar-card>p {
  color: #707070;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 2px;
}

/* 子卡片容器 */
.subcoursebox {
  padding: 8px 0px;
  max-height: 0;
  overflow: hidden;
  opacity: 0.5;
  transition: max-height 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.subcoursebox.boxshow {
  max-height: 2000px;
  opacity: 1;
}

.hidden {
  display: none;
}

.pulldown {
  width: 14px;
  height: 14px;
  /* 添加过渡效果 */
  transition: transform 0.4s ease;
}

.pulldown.rotated {
  transform: rotate(90deg);
}

/* 定义从左到右移动的动画 */
@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* 定义从右到左移动的动画 */
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.sub-cards {
  margin: 0 auto;
  padding: 6px 0px;

}

.sub-card {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding: 16px;
  border: 1px solid #eee;
  border-radius: 8px;
  position: relative;
  width: 94%;
  opacity: 0;
  transition: opacity 1s ease;
  animation: slideInRight 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  /* 初始延迟为0 */
  animation-delay: 0s;
}

.sub-card.sub-show {
  opacity: 1;
}

.sub-card.hide {
  animation: slideOutLeft 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 0s;
}


.sub-card:hover {
  transform: translateY(-2px);
}

.icon-label {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 12px;
  margin-top: 6px;
  margin-left: 6px;
}

.sub-card-main {
  flex-grow: 1;
  padding-right: 24px;
}

.sub-card-main h3 {
  color: #333;
  margin-left: -8px;
  margin-top: 6px;
  opacity: 1;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 2px;
}

.sub-card-main p {
  font-size: 16px;
  color: rgb(165, 165, 165);
  line-height: 1.6;
  margin-top: 20px;
  margin-left: -32px;
  letter-spacing: 1px;
}

.sub-card-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 100px;
  margin-right: 16px;
}

.detail-btn,
.practice-btn {
  width: 110%;
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  background-color: #ffffff;
  font-weight: 1000;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: top;
  transition: box-shadow 0.3s ease;
}

.detail-btn {
  color: rgba(42, 130, 228, 1);
}

.practice-btn {
  color: rgba(121, 72, 234, 1);
}

.detail-btn:hover {
  box-shadow: 0 4px 8px rgba(42, 130, 228, 0.2);
}

.practice-btn:hover {
  box-shadow: 0 4px 8px rgba(121, 72, 234, 0.2);
}

.completed{
  background-color: rgba(48, 212, 48, 0.1);
}


/* 响应式设计 */
@media (max-width: 768px) {
  .nav-content {
    flex-direction: column;
    height: auto;
    padding: 16px;
  }

  .nav-links {
    margin: 16px 0 0 0;
    width: 100%;
    justify-content: space-between;
  }

  .nav-links a {
    padding: 8px;
  }

  .sub-card {
    flex-direction: column;
  }

  .sub-card-main {
    padding-right: 0;
    margin-bottom: 16px;
  }

  .sub-card-actions {
    width: 100%;
  }
}