body {
  padding: 0;
}

.box {
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 -2px 4px rgba(0, 0, 0, 0.05);
  padding: 30px;
  margin-bottom: 30px;
  max-width: 940px;
}

.title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 4px;
  color: rgba(56, 56, 56, 1);
  text-align: center;
  vertical-align: top;
}

.exercise-box {
  margin-bottom: 24px;
}

.exercise-number {
  font-size: 16px !important;
  letter-spacing: 1px;
  color: rgba(128, 128, 128, 1);
  margin-bottom: 10px;
}

.exercise-question {
  margin-top: 10px;
  font-size: 22px;
  letter-spacing: 1px;
  color: rgba(56, 56, 56, 1);
}

form {
  margin-top: 20px;
}

.exercise-box .option-group {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(128, 128, 128, 1);
  text-align: left;
  vertical-align: top;
  margin-bottom: 20px;
}


form label {
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
  transform-origin: left;
}

form label:hover {
  transform: scale(1.2);
  transform-origin: left;
  color: rgba(42, 130, 228, 1);
}

form label span {
  margin-left: 20px;
  font-size: 16px;
}

input[type="radio"] {
  margin-right: 8px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.analysis {
  font-size: 16px;
  color: rgba(128, 128, 128, 1);
  letter-spacing: 2px;
  margin-top: 20px;
  display: none;
}

.analysis span {
  color: rgba(121, 72, 234, 1);
  font-size: 18px;
}

.exercise-navigation {
  display: flex;
  justify-content: start;
  gap: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-btn {
  background-color: rgba(42, 130, 228, 1);
  color: white;
  letter-spacing: 1px;
  border: none;
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.nav-btn:hover {
  background-color: rgba(121, 72, 234, 1);
}

.green {
  color: rgba(48, 212, 48, 1);
}

.red {
  color: rgba(212, 48, 48, 1);
}

.green input[type="radio"] {
  accent-color: rgba(48, 170, 48, 1);
}

.red input[type="radio"] {
  accent-color: rgba(212, 48, 48, 1);
}