body {
  padding: 0;
}

.box {
  padding: 30px;
}

.boxpage {
  padding: 60px 40px 200px 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 -2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
  display: flex;
}

.form-group label {
  width: 100px;
  /* 使用块级元素 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  color: #333;
  text-align: left;
}

.form-group input,
.form-group select {
  width: 40%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}


.form-group select option {
  font-size: 14px;
}

input[name="correctAnswer"] {
  /* 样式规则 */
  width: 24px;
  margin-left: 30px;
}

.form-group #question,
#analysis {
  width: 90%;
}

.form-actions {
  margin-top: 70px;
  display: flex;
  justify-content: left;
  gap: 140px;
}

.cancel-btn,
.submit-btn {
  width: 160px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.cancel-btn {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  color: rgba(18, 18, 18, 1);
}

.submit-btn {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(42, 130, 228, 1);
}

.submit-btn:hover {
  background-color: #4f46e5;
}

.cancel-btn:hover {
  background-color: #e4e4e4;
}