.box {
  padding: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 10px;
}

.user-info .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-info .user-details h2 {
  font-size: 22px;
  font-weight: 550;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: rgba(56, 56, 56, 1);
  text-align: left;
}

.user-info .user-details .img-vip {
  width: 50px;
}

.user-info .user-details span {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(56, 56, 56, 1);
  text-align: left;
  vertical-align: text-top;
  margin-left: 10px;
}

.user-info .logout-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 10px;
  width: 80px;
  height: 34px;
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(56, 56, 56, 1);
  transition: box-shadow 0.3s ease;
}

.user-info .logout-btn:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1),
    0 0px 4px rgba(0, 0, 0, 0.1);
}


.framebox {
  border: 1px solid rgba(56, 56, 56, 0.1);
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 20px;
}

.framebox h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  margin-top: 10px;
}

.itembox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 20px;
  cursor: pointer;
  /* 添加过渡效果 */
  transition: box-shadow 0.3s ease;
}

.itembox:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 -1px 2px rgba(0, 0, 0, 0.1);
}

.label {
  color: #777;
  letter-spacing: 1px;
}

.value {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 30px;
  color: rgba(121, 72, 234, 1);
}

.value span {
  font-size: 20px;
  font-weight: 600;
  /* 添加过渡效果 */
  transition: font-size 0.4s ease;
  transform-origin: center;
}

.itembox:hover .value span {
  font-size: 40px;
  transform-origin: center;
}